.destination_title a {
   font-size: medium !important;
}

.carousel .slide-btn {
   background-color: rgba(58, 128, 144, 0.401) !important;
   font-weight: 600 !important;
   padding-left: 1rem;
   padding-right: 1rem;
}