{% extends 'index.html'  %}
{% load static %}
{% block content %}
<!-- About -->

<div class="about">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_subtitle">simply amazing places</div>
                <div class="section_title">
                    <h2>A few words about us</h2>
                </div>
            </div>
        </div>
        <div class="row about_row">
            <div class="col-lg-6">
                <div class="about_content">
                    <div class="text_highlight">Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique
                        at leo. Vivamus massa.Tempor massa et laoreet .Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit.</div>
                    <div class="about_text">
                        <p>Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo. Vivamus
                            massa.Tempor massa et laoreet .Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                            eu laoreet ante, sollicitudin volutpat quam. Vestibulum posuere malesuada ultrices. In
                            pulvinar rhoncus lacus at aliquet. Nunc vitae lacus varius, auctor nisi sit amet,
                            consectetur mauris. Curabitur sodales semper est, vel faucibus urna laoreet vel. Ut justo
                            diam, sodales non pulvinar at, vulputate quis neque. Etiam aliquam purus vel ultricies
                            consequat.
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic sequi maiores vitae eum nemo
                            quaerat eligendi exercitationem. Culpa, iusto harum. Aut omnis quis fuga expedita,
                            cupiditate accusantium, doloremque blanditiis dolore eaque tempore illo, possimus eligendi
                            esse ea enim! Sequi autem, velit quisquam dolore animi maxime corrupti at iusto itaque
                            doloribus laudantium iure hic, architecto placeat doloremque impedit in natus nesciunt.
                            Dolorum, ipsa adipisci necessitatibus ad veniam molestiae perspiciatis vero sapiente
                            incidunt maxime? Ducimus, eos eligendi exercitationem dicta, facilis est architecto illum
                            natus similique quibusdam aperiam magnam expedita quam? Maiores officiis dolorum, recusandae
                            quod impedit soluta totam veniam accusantium, aperiam, quaerat quasi blanditiis earum.
                            Commodi, tenetur? Quo, cum. Odio perferendis ex, neque temporibus doloribus maiores quo
                            dignissimos, assumenda saepe, nesciunt molestias labore sed ducimus voluptas quidem
                            provident! Accusantium beatae praesentium quisquam quibusdam veritatis soluta cum minus, sit
                            excepturi reiciendis ea, rem placeat nobis voluptatum. Ipsa, ullam! Aspernatur eum veritatis
                            officia corporis, rem dolores. Voluptatibus et, asperiores tempore natus, ullam ut
                            doloremque excepturi corrupti quod, fuga quae commodi. A tempora reiciendis assumenda
                            veritatis voluptatem eveniet explicabo accusamus nobis eum doloribus quas deserunt eius in
                            quia voluptate aperiam rerum facere, commodi quos, qui itaque eaque quod? Quibusdam, dolores
                            ipsum. A dolorum doloribus adipisci!
                        </p>
                    </div>
                    <div class="button about_button"><a href="#">read more</a></div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about_image "><img class="about_img_radius" src="{% static 'images/rain-1.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Team -->

<div class="team">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_subtitle">simply amazing teams</div>
                <div class="section_title">
                    <h2>Meet the Team</h2>
                </div>
            </div>
        </div>
        <div class="row team_row">

            <!-- Team Item -->
            <div class="col-xl-3 col-md-6 team_col">
                <div class="team_item d-flex flex-column align-items-center justify-content-start text-center">
                    <div class="team_image"><img src="{% static 'images/team_2.jpg' %}" alt=""></div>
                    <div class="team_content">
                        <div class="team_title"><a href="#">Mohd Aqib Khan</a></div>
                        <div class="team_text">
                            <p>Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo. Vivamus
                                massa.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Team Item -->
            <div class="col-xl-3 col-md-6 team_col">
                <div class="team_item d-flex flex-column align-items-center justify-content-start text-center">
                    <div class="team_image"><img src="{% static 'images/team_3.jpg' %}" alt=""></div>
                    <div class="team_content">
                        <div class="team_title"><a href="#">Rampravesh Chaudahri</a></div>
                        <div class="team_text">
                            <p>Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo. Vivamus
                                massa.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Team Item -->
            <div class="col-xl-3 col-md-6 team_col">
                <div class="team_item d-flex flex-column align-items-center justify-content-start text-center">
                    <div class="team_image"><img src="{% static 'images/team_1.jpg' %}" alt=""></div>
                    <div class="team_content">
                        <div class="team_title"><a href="#">Sangam Lal Gupta</a></div>
                        <div class="team_text">
                            <p>Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo. Vivamus
                                massa.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Team Item -->
            <div class="col-xl-3 col-md-6 team_col">
                <div class="team_item d-flex flex-column align-items-center justify-content-start text-center">
                    <div class="team_image"><img src="{% static 'images/team_4.jpg' %}" alt=""></div>
                    <div class="team_content">
                        <div class="team_title"><a href="#">Nishu Kumar Singh</a></div>
                        <div class="team_text">
                            <p>Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo. Vivamus
                                massa.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock content %}