{% load static %}
{% static "images" as baseUrl %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Rainfall</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Travello template project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'css-link/css.html' %}
</head>

<body>

    <div class="super_container">

        <!-- Header -->

        {% include 'header.html' %}

        <!-- Menu -->

        {% include 'menu.html' %}

        <!-- Home -->
        {% include 'home.html' %}

        {% block core %}{% endblock core %}





        <!-- Footer -->
        {% include 'footer.html' %}

    </div>

    {% include 'js-link/js.html' %}
</body>

</html>