{% load static %}
<div class="testimonials" id="testimonials">
    <div class="parallax_background parallax-window" data-parallax="scroll"
        data-image-src="{% static 'images/testimonials.jpg' %}" data-speed="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_subtitle">simply amazing state</div>
                <div class="section_title">
                    <h2>Rainfall Prediction Model</h2>
                </div>
            </div>
        </div>
        <div class="row testimonials_row">
            <div class="col">

                <!-- Testimonials Slider -->
                <div class="testimonials_slider_container">
                    <div class="owl-carousel owl-theme testimonials_slider">

                        <!-- Slide -->
                        <div class="owl-item text-center">
                            <div class="testimonial">In This project we used machine learning to desgn a modle
                                that can analysis & predict the rainfall of the different subdivision of India</div>
                            <div class="testimonial_author">
                                <div
                                    class="testimonial_author_content d-flex flex-row align-items-end justify-content-start">
                                    <div>Rampravesh Chaudhari,</div>
                                    <div>Developer</div>
                                </div>
                            </div>
                        </div>

                        <!-- Slide -->
                        <div class="owl-item text-center">
                            <div class="testimonial">We will also develop a web interface to show the model on web
                                page where user can see the rainfall of any state.</div>
                            <div class="testimonial_author">
                                <div
                                    class="testimonial_author_content d-flex flex-row align-items-end justify-content-start">
                                    <div>Mohd Aqib Khan,</div>
                                    <div>Developer</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>