{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid py-5">
    <div class="home_search_container"
        id="background_container"
        style="top: 0px; background: rgba(0,0,0,0.26); position: relative; min-height:850px;">
        <div class="home_search_title px-3">RainFall Comparsion of Two States</div>
        <div class="home_search_content">
            <div class="row align-items-start justify-content-lg-between justify-content-start">
                <input type="text" id="firstState" class="search_input search_input_1" placeholder="Select the State"
                    required="required" onclick="showList(0)">
                <input type="text" id="secondState" class="search_input search_input_1" placeholder="Select the State"
                    required="required" onclick="showList(1)">
                <input type="text" id="parameterListItem" class="search_input search_input_1" placeholder="Select the State"
                    required="required" onclick="showList(2)">
                <button class="home_search_button" onclick="fetchData()">search</button>
            </div>
        </div>
        <div class="row">
            <ul id="stateFirst1" class="col-md-5" style="position: relative; max-height: 377px;
        max-width: 325px;
        left: 39px;
        visibility: hidden;
        overflow-y: scroll;
        background-color: white;
        margin-top: -10px;">
                {% for item in data.stateList %}
                <li style="margin-bottom: 5px;">
                    <button class="" type="button" onclick="check(1,{{forloop.counter0}})" style="
                    width: -webkit-fill-available;
                    border-radius: 14px;
                    height: 50px;
                    background: #f2f5f6;
                    border: none;
                    outline: none;
                    margin-right: 13px;
                    padding-left: 17px;
                    font-family: 'Oswald', sans-serif;
                    font-size: 14px !important;
                    font-weight: 500 !important;
                    color: #72728c !important;
                    text-align: center;
                    margin-left: 8px;
                    padding-right: 15px;
                    padding-top: 14px;
                ">
                        <pre style="font-family: 'Oswald', sans-serif;
                        font-size: 14px !important;
                        margin-left: 0px;
                        text-align: center;
                        font-weight: 500 !important;">{{item | safe}}</pre>
                    </button>
                </li>
                {% endfor %}
            </ul>
            <ul id="stateSecond2" class="col-md-5" style="position: relative; max-height: 377px;
                max-width: 325px;
                left: 76px;
                visibility: hidden;
                overflow-y: scroll;
                background-color: white;
                margin-top: -10px;">
                {% for item in data.stateList %}
                <li style="margin-bottom: 5px;">
                    <button class="" type="button" onclick="check(2,{{forloop.counter0}})" style="
                    width: -webkit-fill-available;
                    border-radius: 14px;
                    height: 50px;
                    background: #f2f5f6;
                    border: none;
                    outline: none;
                    margin-right: 13px;
                    padding-left: 17px;
                    font-family: 'Oswald', sans-serif;
                    font-size: 14px !important;
                    font-weight: 500 !important;
                    color: #72728c !important;
                    text-align: center;
                    margin-left: 8px;
                    padding-right: 15px;
                    padding-top: 14px;
                ">
                        <pre style="font-family: 'Oswald', sans-serif;
                        font-size: 14px !important;
                        margin-left: 0px;
                        text-align: center;
                        font-weight: 500 !important;">{{item | safe}}</pre>
                    </button>
                </li>
                {% endfor %}
            </ul>
            <ul id="paraMeter" class="col-md-5" style="position: relative; max-height: 377px;
                max-width: 325px;
                left: 111px;
                visibility: hidden;
                overflow-y: scroll;
                background-color: white;
                margin-top: -10px;">
                {% for item in data.parameter %}
                <li style="margin-bottom: 5px;">
                    <button class="" type="button" onclick="check(3,{{forloop.counter0}})" style="
                    width: -webkit-fill-available;
                    border-radius: 14px;
                    height: 50px;
                    background: #f2f5f6;
                    border: none;
                    outline: none;
                    margin-right: 13px;
                    padding-left: 17px;
                    font-family: 'Oswald', sans-serif;
                    font-size: 14px !important;
                    font-weight: 500 !important;
                    color: #72728c !important;
                    text-align: center;
                    margin-left: 8px;
                    padding-right: 15px;
                    padding-top: 14px;
                ">
                        <pre style="font-family: 'Oswald', sans-serif;
                        font-size: 14px !important;
                        margin-left: 0px;
                        text-align: center;
                        font-weight: 500 !important;">{{item | safe}}</pre>
                    </button>
                </li>
                {% endfor %}
            </ul>
        </div>
        <canvas id="myChart" width="700" height="600" style="left: 0;
    right: 0;
    padding: 15px;
    background-color: white;
    display: none;
    margin-top: 54px;
    margin-left: auto;
    margin-right: auto;">
        </canvas>
    </div>
</div>

<script>
    let myChart = "";
    let stateFirst = "";
    let stateSecond = "";
    let para = "";
    let count = 0;
    let arr = {{data.stateList | safe}};
    let arrparameter = {{data.parameter | safe}};
    function showList(index) {
        console.log("show working ");
        if (index == 0) {
            document.getElementById("stateFirst1").style.visibility = "visible";
        }
        if (index == 1) {
            document.getElementById("stateSecond2").style.visibility = "visible";
        }
        if(index == 2){
            document.getElementById("paraMeter").style.visibility = "visible";
        }
    }

    function check(num, stateIndex) {
        
        if (num == 1) {
            document.getElementById("firstState").value = arr[stateIndex];
            document.getElementById("stateFirst1").style.visibility = "hidden"
            stateFirst = arr[stateIndex];
            //document.getElementById("stateSecond2").style.left = "455px";
        } else if (num == 2) {
            document.getElementById("secondState").value = arr[stateIndex];
            stateSecond = arr[stateIndex];
            document.getElementById("stateSecond2").style.visibility = "hidden";
        }
        else if(num == 3){
            document.getElementById("parameterListItem").value = arrparameter[stateIndex];
            para = arrparameter[stateIndex];
            document.getElementById("paraMeter").style.visibility = "hidden";
        }
        console.log("state Name is :-", arr[stateIndex]);
    }

    function fetchData() {
        document.getElementById("myChart").style.display = "block";
        if (count == 0) {
            count += 1;
            // auto formatted data 1
            dataset = {{data.datasets | safe}};
            const da1 = dataset[stateFirst][arrparameter.indexOf(para)];
            const da2 = dataset[stateSecond][arrparameter.indexOf(para)];

             // auto formatted data 2
            const year = {{data.year}};
            let data = [];
            let data2 = [];
            console.log("data:-", data);
            console.log("data2:-", data2);
            for (let i = 0; i < da1.length; i++) {
                data.push({
                    x: year[i],
                    y: da1[i]
                });
            }
            for (let i = 0; i < da2.length; i++) {
                data2.push({
                    x: year[i],
                    y: da2[i]
                });
            }

            const totalDuration = 10000;
            const delayBetweenPoints = totalDuration / data.length;
            const previousY = (ctx) => ctx.index === 0 ? ctx.chart.scales.y.getPixelForValue(100) : ctx.chart
                .getDatasetMeta(ctx.datasetIndex).data[ctx.index - 1].getProps(['y'], true).y;
            const ctx = document.getElementById('myChart').getContext('2d');
            myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                            label: stateFirst,
                            borderColor: 'rgba(255, 119, 142, 0.8)',
                            borderWidth: 1,
                            radius: 3,
                            data: data,
                        },
                        {
                            label: stateSecond,
                            borderColor: 'rgba(75, 192, 192, 0.8)',
                            borderWidth: 1,
                            radius: 3,
                            data: data2,
                        }
                    ]
                },
                options: {
                    animation: {
                        x: {
                            type: 'number',
                            easing: 'linear',
                            duration: delayBetweenPoints,
                            from: NaN, // the point is initially skipped
                            delay(ctx) {
                                if (ctx.type !== 'data' || ctx.xStarted) {
                                    return 0;
                                }
                                ctx.xStarted = true;
                                return ctx.index * delayBetweenPoints;
                            }
                        },
                        y: {
                            type: 'number',
                            easing: 'linear',
                            duration: delayBetweenPoints,
                            from: previousY,
                            delay(ctx) {
                                if (ctx.type !== 'data' || ctx.yStarted) {
                                    return 0;
                                }
                                ctx.yStarted = true;
                                return ctx.index * delayBetweenPoints;
                            }
                        }
                    },
                    responsive: false,
                    interaction: {
                        intersect: false
                    },
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'State Comparsion'
                        },
                    },

                    scales: {
                        x: {
                            type: 'linear',
                            title: {
                                display: true,
                                text: 'Year(1900-2017)'
                            }
                        },
                        y: {
                            title: {
                                display: true,
                                text: `${para} amount of Rainfall`
                            }
                        }

                    }
                }
            });
        } else {
            myChart.destroy();
            // auto formatted data 3
            dataset = {{data.datasets | safe}};
            const da1 = dataset[stateFirst][arrparameter.indexOf(para)];
            const da2 = dataset[stateSecond][arrparameter.indexOf(para)];
             // auto formatted data 4
            const year = {{data.year}};
            let data = [];
            let data2 = [];
            console.log("data:-", data);
            console.log("data2:-", data2);
            for (let i = 0; i < da1.length; i++) {
                data.push({
                    x: year[i],
                    y: da1[i]
                });
            }
            for (let i = 0; i < da2.length; i++) {
                data2.push({
                    x: year[i],
                    y: da2[i]
                });
            }
            const totalDuration = 10000;
            const delayBetweenPoints = totalDuration / data.length;
            const previousY = (ctx) => ctx.index === 0 ? ctx.chart.scales.y.getPixelForValue(100) : ctx.chart
                .getDatasetMeta(ctx.datasetIndex).data[ctx.index - 1].getProps(['y'], true).y;
            const ctx = document.getElementById('myChart').getContext('2d');

            myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    datasets: [{
                            label: stateFirst,
                            borderColor: 'rgba(153, 102, 255, 0.8)',
                            borderWidth: 1,
                            radius: 3,
                            data: data,
                        },
                        {
                            label: stateSecond,
                            borderColor: 'rgba(25, 159, 164, 0.8)',
                            borderWidth: 1,
                            radius: 3,
                            data: data2,
                        }
                    ]
                },
                options: {
                    animation: {
                        x: {
                            type: 'number',
                            easing: 'linear',
                            duration: delayBetweenPoints,
                            from: NaN, // the point is initially skipped
                            delay(ctx) {
                                if (ctx.type !== 'data' || ctx.xStarted) {
                                    return 0;
                                }
                                ctx.xStarted = true;
                                return ctx.index * delayBetweenPoints;
                            }
                        },
                        y: {
                            type: 'number',
                            easing: 'linear',
                            duration: delayBetweenPoints,
                            from: previousY,
                            delay(ctx) {
                                if (ctx.type !== 'data' || ctx.yStarted) {
                                    return 0;
                                }
                                ctx.yStarted = true;
                                return ctx.index * delayBetweenPoints;
                            }
                        }
                    },
                    responsive: false,
                    interaction: {
                        intersect: false
                    },
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'State Comparsion'
                        }
                    },

                    scales: {
                        x: {
                            type: 'linear',
                            title: {
                                display: true,
                                text: 'Year(1900-2017)'
                            }
                        },
                        y: {
                            title: {
                                display: true,
                                text: `${para} amount of Rainfall`
                            }
                        }

                    }
                }
            });



            /*myChart.data.datasets[0].data = data; // Would update the first dataset's value of 'March' to be 50
            myChart.data.datasets[1].data = data2;
            myChart.options.animation = {
                    x: {
                        type: 'number',
                        easing: 'easeOutQuart',
                        duration: delayBetweenPoints,
                        from: NaN, // the point is initially skipped
                        delay(ctx) {
                            if (ctx.type !== 'data' || ctx.xStarted) {
                                return 0;
                            }
                            ctx.xStarted = true;
                            return ctx.index * delayBetweenPoints;
                        } 
                    },
                    y: {
                        type: 'number',
                        easing: 'easeOutQuart',
                        duration: delayBetweenPoints,
                        from: previousY,
                        delay(ctx) {
                            if (ctx.type !== 'data' || ctx.yStarted) {
                                return 0;
                            }
                            ctx.yStarted = true;
                            return ctx.index * delayBetweenPoints;
                        }
                    } 
            }
            myChart.update('active'); */
        }



    }
</script>
{% endblock content %}