{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container d-flex flex-column" id="stateView">
    <h5 class="mt-4 text-center border border-warning text-dark py-3">{{data.state.name}}</h5>


    <div class="row justify-content-around my-5 " style="margin: 0px">
      <div class="col-lg-6 shadow p-3 mb-5 bg-body rounded">
        <canvas id="myChart" width="480" height="430"></canvas>
      </div>
      <div class="col-lg-4 shadow p-3 mb-5 bg-body rounded">
        <canvas id="myChartPie" width="1000" height="400"></canvas>
      </div>
    </div>


  <div class="row justify-content-center my-5 shadow p-3 mb-5 bg-body rounded" style="margin: 0px">
    <div class="col-lg-8 my-4">
      <canvas id="myChartLine" width="400" height="400"></canvas>
    </div>
  </div>


  <div class="row my-5 shadow p-3 mb-5 bg-body rounded" style="margin: 0px; margin-top: 20px;">
    <div class="col-lg-11">
      <canvas id="myAnnualRainLineChart" width="1000" height="600"></canvas>
    </div>
  </div>

  <h5 class="mt-4 text-center pt-5">Annual Rainfall Table Data For {{data.state.name}}</h5>

  <div class="row mb-5 shadow p-3 mb-5 bg-body rounded" style="margin: 0px; margin-top: 20px;">
    <div class="col-lg-12">
      <div id="wrapper"></div>
    </div>
  </div>
 
</div>
<script>
  let annual_bar_data = {{data.json_annual_bar_data}};
  const state_list = {{data.stateList | safe}};
  const ctxLine2 = document.getElementById('myAnnualRainLineChart').getContext('2d');
  const myAnnualRainLineChart = new Chart(ctxLine2, {
    type: 'bar',
    data: {
      labels: state_list,
      datasets: [{
        /* barPercentage: 0.5,
        barThickness: 6,
        maxBarThickness: 8,
        minBarLength: 2,*/
        data: annual_bar_data,
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(255, 159, 64, 0.2)'
        ],
        borderColor: [
          'rgba(255, 99, 132, 1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 1
      }]
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      plugins: {
        legend: {
          position: 'top',
        },
        title: {
          display: true,
          text: 'Annual Rainfall Comparesion with other State'
        },
      },
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
<script>
  let pie_data = {{data.json_bar_data }};
  pie_data.shift();
  const ctxPie = document.getElementById('myChartPie').getContext('2d');
  const myChartPie = new Chart(ctxPie, {
    type: 'doughnut',
    data: {
      labels: ['Jan', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'],
      datasets: [{
        label: 'My First Dataset',
        data: pie_data,
        backgroundColor: [
          'rgba(255, 99, 142, 0.9)',
          'rgba(54, 162, 235, 0.8)',
          'rgba(255, 206, 86, 0.8)',
          'rgba(75, 192, 192, 0.8)',
          'rgba(153, 102, 255, 0.8)',
          'rgba(255, 159, 64, 0.8)',
          'rgba(255, 119, 142, 0.8)',
          'rgba(154, 62, 35, 0.8)',
          'rgba(25, 06, 86, 0.8)',
          'rgba(175, 12, 92, 0.8)',
          'rgba(153, 12, 25, 0.8)',
          'rgba(25, 159, 164, 0.8)',
        ],
        hoverOffset: 4
      }]
    },
    options: {
      plugins: {
        legend: {
          position: 'top',
        },
        title: {
          display: true,
          text: 'Pie Chart Reprsentation of Monthly Rainfall in State'
        },
      },
    }
  });
</script>
<script>
  let bar_data = {{data.json_bar_data}};
  bar_data.shift();
  const ctxLine = document.getElementById('myChartLine').getContext('2d');
  const myChartLine = new Chart(ctxLine, {
    type: 'bar',
    data: {
      labels: ['Jan', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'],
      datasets: [{
        /* barPercentage: 0.5,
        barThickness: 6,
        maxBarThickness: 8,
        minBarLength: 2,*/
        data: bar_data,
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(255, 159, 64, 0.2)'
        ],
        borderColor: [
          'rgba(255, 99, 132, 1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 1
      }]
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      plugins: {
        legend: {
          position: 'top',
        },
        title: {
          display: true,
          text: 'Bar chart representation of Monthy Rainfall in State'
        },
      },
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
<script>
  console.log({{data.state_data}});
  const dataset = {{data.state_data}};
  const col = {{data.columns | safe}};
  const grid = new gridjs.Grid({
    columns: col,
    data: dataset,
    pagination: {
      enabled: true,
      limit: 10,
      summary: false
    },
    style: {
      table: {
        border: '3px solid #ccc'
      },
      th: {
        'background-color': 'rgba(0, 0, 0, 0.1)',
        color: '#000',
        'border-bottom': '3px solid #ccc',
        'text-align': 'center'
      },
      td: {
        'text-align': 'center'
      }
    }
  }).render(document.getElementById("wrapper"));
</script>
<script>
  const datase = {{data.datasets | safe}};
  const da1 = datase["ANDAMAN & NICOBAR ISLANDS"][0];
  const year = {{data.year}};
  let data = [];
  for (let i = 0; i < da1.length; i++) {
    data.push({
      x: year[i],
      y: da1[i]
    });
  }
  const totalDuration = 10000;
  const delayBetweenPoints = totalDuration / data.length;
  const previousY = (ctx) => ctx.index === 0 ? ctx.chart.scales.y.getPixelForValue(100) : ctx.chart.getDatasetMeta(ctx
    .datasetIndex).data[ctx.index - 1].getProps(['y'], true).y;
  const ctx = document.getElementById('myChart').getContext('2d');
  const myChart = new Chart(ctx, {
    type: 'line',
    data: {
      datasets: [{
          label: "ANDAMAN & NICOBAR ISLANDS",
          borderColor: '#2266a8',
          borderWidth: 1,
          radius: 2,
          data: data,
        }
        /*{
            label: stateSecond,
            borderColor: '#f67019',
            borderWidth: 1,
            radius: 3,
            data: data2,
        }*/
      ]
    },
    options: {
      animation: {
        x: {
          type: 'number',
          easing: 'linear',
          duration: delayBetweenPoints,
          from: NaN, // the point is initially skipped
          delay(ctx) {
            if (ctx.type !== 'data' || ctx.xStarted) {
              return 0;
            }
            ctx.xStarted = true;
            return ctx.index * delayBetweenPoints;
          }
        },
        y: {
          type: 'number',
          easing: 'linear',
          duration: delayBetweenPoints,
          from: previousY,
          delay(ctx) {
            if (ctx.type !== 'data' || ctx.yStarted) {
              return 0;
            }
            ctx.yStarted = true;
            return ctx.index * delayBetweenPoints;
          }
        }
      },
      responsive: false,
      interaction: {
        intersect: false
      },
      plugins: {
        legend: {
          position: 'top',
        },
        title: {
          display: true,
          text: 'Annual Rainfall'
        },
      },
      scales: {
        x: {
          type: 'linear'
        }
      }
    }
  });
</script>


{% endblock content %}